<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <nlog>
    <targets>
      <target name="t1" type="File" fileName="E:\Temp\servicelog.txt"/>
      <target name="t2" type="Console"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="t1,t2" />
    </rules>
  </nlog>
</configuration>